<template>
  <div class="albums">
    <AppLoading v-if="loading" message="Loading albums" />
    <p v-if="error">{{ error }}</p>

    <ul>
      <li v-for="album of albums" :key="album.id">
        <router-link :to="`/albums/${album.id}`">
          <div class="art">
            <img :src="album.albumArt" alt width="100" />
          </div>
          <div class="info">
            <h4>{{ album.title }}</h4>
            <p>{{ album.artist }}</p>
            <small>{{ album.releaseYear }}</small>
          </div>
        </router-link>
      </li>
    </ul>
  </div>
</template>

<script>
import AppLoading from "../components/AppLoading";
import { getAllAlbums } from "../api/albums";

export default {
  name: "Albums",
  components: {
    AppLoading,
  },
  async created() {
    try {
      this.albums = await getAllAlbums();
    } catch (error) {
      this.error = error.message;
    } finally {
      this.loading = false;
    }
  },
  data() {
    return {
      albums: [],
      error: "",
      loading: true,
    };
  },
};
</script>

<style>
li {
  cursor: pointer;
}
li:hover {
  background: #efefef;
}
</style>