<template>
  <div class="album-detail">

    <AppLoading message="Loading..." />
    <p v-if="error">{{ error }}</p>

    <div v-if="album !== null">
      <h1>{{ album.title }}</h1>
    </div>

  </div>
</template>

<script>
import AppLoading from '../components/AppLoading';

import {  getAlbum, getAlbumTracks } from '../api/albums';

export default {
    name: 'AlbumDetail',
    components: {
      AppLoading
    },
    async created() {
      console.log( this.$route.params );
      // First = Fetch the album
      const { albumId } = this.$route.params;

      try {
        this.album = await getAlbum(albumId);
        this.tracks = await getAlbumTracks(albumId);
      } catch (error) {
        this.error = error.message;
      } finally{
        this.loading = false;
      }
      
      // Second = Fetch the tracks
    },
    data() {
      return {
        album: null,
        tracks: [],
        loading: true,
        error: ''
      }
    }
}
</script>

<style>

</style>